{% extends 'base.html' %}
{% block content %}

{% for x in buys %}
<form class="form"  method="post">


<div class="card">
<table class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr>
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" width="200" class="text-right">Action</th>
</tr>
</thead>

<tbody>
<tr>
	<td>
<figure class="media">

	<div class="img-wrap"><img src="{{ x.image.url }}" class="img-thumbnail img-sm"></div>
	<figcaption class="media-body">

		<h6 class="title text-truncate">{{ x.book_name }} </h6>
		<dl class="param param-inline small">

		  <dt>{{ x.author }} </dt>
		</dl>

	</figcaption>
</figure>
	</td>
	<td>
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</td>
	<td>
		<div class="price-wrap">
			<!-- <var class="price">USD 145</var> -->
      <var class="price">  <input readonly value="{{ x.id }} taka"></var>
      <input readonly value="{{t_price }} taka">




		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right">

	<a href="{% url 'cart-remove' x.id %}" class="btn btn-outline-danger">Remove</a>
	</td>
</tr>
<tr>



{% endfor %}

</table>
<!-- <input type="text" class="form-control input-sm pull-right" value="4"> -->
<div class="form-group">
    <input style="width:300px;float:right; text-align:center" type="text" class="form-control pull-right" readonly value="{{t_price }} taka">
</div>


<a href="{% url 'checkout' %}" type="submit" class="btn btn-outline-success">Checkout</a>



</form>

{% endblock %}
